[Unit]
Description=Hale Daily Proactive Scan Timer
After=network.target

[Timer]
OnCalendar=daily
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target